<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
<!-- End fonts -->
<!-- core:css -->
<link rel="stylesheet" href="~/Admin/assets/vendors/core/core.css" />
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/Admin/assets/vendors/flatpickr/flatpickr.min.css" />
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="~/Admin/assets/fonts/feather-font/css/iconfont.css" />
<link rel="stylesheet" href="~/Admin/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="~/Admin/assets/css/demo1/style.css" />
<!-- End layout styles -->

<link rel="shortcut icon" href="~/Admin/assets/images/favicon.png" />
<div class="page-content">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
            <h4 class="mb-3 mb-md-0">
                Menu
            </h4>
            <p class="time-calendar">Today, 10th September 2020</p>
        </div>
    </div>


    <div class="flex-menu-admin">
        <div class="left-right-admin">
            <a asp-action="Index" asp-controller="Category">Category</a>
            <a asp-action="Index" asp-controller="About">About</a>
            <a href="#">Entertainment</a>
        </div>

        <div class="left-right-admin">
            <a href="#">Beach Club</a>
            <a href="#">Hotels</a>
            <a href="#">Account Settings</a>
        </div>
    </div>



</div>  <script src="~/Admin/assets/vendors/core/core.js"></script>
<script src="~/Admin/assets/vendors/flatpickr/flatpickr.min.js"></script>
<script src="~/Admin/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="~/Admin/assets/vendors/feather-icons/feather.min.js"></script>
<script src="~/Admin/assets/js/template.js"></script>
<script src="~/Admin/assets/js/dashboard-light.js"></script>