@using DigitalAgency.Areas.Adminarea.ViewModels.Account;
@model AdminRegisterVM;
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title>Login 08</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/admin/assets/css/style.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<form method="post" class="login-form">
							<div class="form-group">
								<input type="text" class="form-control rounded-left" placeholder="Email" asp-for="@Model.Email" required>
							</div>
							<div class="form-group d-flex">
								<input type="password" class="form-control rounded-left" placeholder="Password" asp-for="@Model.Password" required>
							</div>
							<div class="form-group">
								<button type="submit" value="Create" class="btn btn-primary rounded submit p-3 px-5">Sign up</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/admin/assets/js/js/jquery.min.js"></script>
	<script src="~/admin/assets/js/js/popper.js"></script>
	<script src="~/admin/assets/js/js/bootstrap.min.js"></script>
	<script src="~/admin/assets/js/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>

